extends layout

block content

  h1= title
  h2= subTitle 

  ul#clickableList 

  table#workoutTable
    
  p Make your own exercise program

  table#newWorkoutTable
    tr
      th Exercise
      th Description
      th Sets
      th Repetitions
    tr
      th
        input(type="text")
      th
        input(type="text")
      th
        input(type="text")
      th
        input(type="text")

  button#addRow(onclick="addRow()") Add exercise
    
  form(action="add" method="post")  
    button#clickme(type="submit" onclick="test()") Tilføj

  
  script(src="/javascripts/index.js")
  script(src="/index.js")

  


