<h2>My Workouts</h2>
<div>
  <label>Workout name:</label> <input #workoutName />
  <button (click)="add(workoutName.value); workoutName.value=''">
    Add
  </button>
</div>
<ul class="workout">
     <li *ngFor="let workout of workouts" (click)="onSelect(workout)"
        [class.selected]="workout === selectedWorkout">
        <span class="badge">{{workout.id}}</span>
        <span>{{workout.name}}</span>
        <button class="delete"
            (click)="delete(workout); $event.stopPropagation()">x</button>
     </li>

</ul>
<div *ngIf="selectedWorkout">
    <h2>
        {{selectedWorkout.name | uppercase}} is my workout
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>