extends layout



block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
         
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each workout in workouts
          .col-xs-12.list-group-item
            h4 
              a(href="/workouts/"+workout._id)= workout.name
              small &nbsp;
      form(method='POST' action='/workouts')
        input(type="text" placeholder="Name of workout" name='name')
        button.btn.btn-default(type='submit')
            span.glyphicon.glyphicon-plus 
            | Add new workout
